.navbar{
  padding: 0.8rem 2rem;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, .1) !important;
          box-shadow: 0 0 18px rgba(0, 0, 0, .1) !important;
}

#logOut-btn, #signUp-btn{
  border: 2px solid #6366f1;
  width: 5rem;
  /* background-color: #6366f1; */
  border-radius: 4px;
  /* color: white; */
}


.bg-light{
  background-color: #FFFFFF !important;
}

@media all and (max-width: 900px){
  .navbar{
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, .2) !important;
            box-shadow: 0 0 18px rgba(0, 0, 0, .2) !important;
  }
}