.auth-form{
  width: 600px;
  /* background-color: rgba(0, 0, 0, .03); */
  background-color: #f9fafb;
  padding: 40px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .2);
          box-shadow: 0 0 25px rgba(0, 0, 0, .2);
}

.auth-form-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.auth-form small{
  text-align: start;
}

.form-group{
  display: -ms-grid;
  display: grid;
}

.form-group label{
  -ms-grid-column-align: start;
      justify-self: start;
}

#auth-submit{
  width: 20%;
  min-width: 80px;
  background-color: #6366f1;
}

.auth-form small{
  color: red !important;
}

.signup-header{
  /* background-color: #6366f1; */
  border-bottom: 3px solid #6366f1;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  /* border-radius: 4px; */
  /* color: #f9fafb; */
  width: 100px;
  align-self: center;
  justify-self: center;
}

.login-header{
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 10px;
  width: 100px;
  border-bottom: 3px solid #6366f1;

}
